@font-face {
  font-family: "roboto";
  src:
    url("fonts/roboto-regular-webfont.woff2") format("woff2");
    url("fonts/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "robotobold";
  src:
    url("fonts/roboto-bold-webfont.woff2") format("woff2");
    url("fonts/roboto-bold-webfont.woff") format("woff");
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  font-family: "roboto", serif;
}

#sidebar {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  color: #fff;
  display: flex;
  flex-direction: column;
}

#sidebar div {
  display: flex;
  align-items: center;
}

#sidebar p {
  margin: 0px;
  padding-left: 12px;
}

#branding {
  font-size: 24px;
  padding: 12px;
}

#branding svg {
  fill: white;
  height: 36px;
  width: 36px;
  padding-right: 20px;
}

#nav-top {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

#nav-bottom {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}

.nav-link {
  width: 100%;
  padding-left: 36px;
  padding-top: 12px;
  align-items: left;
  font-size: 16px;
  display: flex;
  gap: 24px;
}

.nav-link svg {
  fill: white;
  height: 24px;
  width: 24px;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
}

#header {
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#menubar {
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
  height: 36px;
}

#search {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

#userinfo {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#menubar svg {
  height: 24px;
  width: 24px;
}

#menubar input {
  height: 1rem;
  border-radius: 25px;
  width: 100%;
}

#menubar p {
  margin: 0px;
}

#menubar img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

#submenu {
  display: grid;
  grid-template-columns: .5fr 4fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
  padding-left: 20px; 
  padding-right: 20px; 
  margin-right: 20px;
  align-items: center;
}

#submenu img {
  height: 48px;
  width: 48px;
}

#welcome {
  font-height: 12px;
  margin: 0px;
}

#submenu-name {
  font-size: 24px;
  margin: 0px;
}

#submenu button {
  border-radius: 22px;
  height: 36px;
}

#main-content {
  background-color: green;
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#projects {
  background-color: yellow;
  margin: 40px 20px 40px 20px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 1fr 1fr;
  grid-gap: 20px;
}

.section-title {
  grid-column: span 2;
}

.project {
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-rows: 16px 70% 14px;
}

.project .title {
  font-size: 14px;
  font-family: "robotobold", serif;
}

.project .description {
  padding-top: 5px;
  font-size: 12px;
}

.project svg {
  width: 16px;
  height: 16px;
}

.project .buttons {
  display: flex;
  justify-content: end;
}

.project .buttons svg {
  padding-right: 10px;
}

#announcements {
  background-color: purple;
  margin: 40px 20px 40px 20px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px 1fr 1fr 1fr;
  grid-gap: 20px;
}

.announcement .title {
  font-size: 12px;
  font-family: "robotobold", serif;
}

.announcement .description {
  padding-top: 5px;
  font-size: 12px;
}

#trending {
  background-color: orange;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
